@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click button below to create (or reset) main database with reports</p>
    <input type="button" value="Reload Main Database" onclick="location.href='@Url.Action("CreateDb", "Home")'" />
</div>